.boards-content {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100vw;
}

.board {
  background-color: rgba(84, 84, 84, 0.8);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 700px;
  height: 550px;
}

.tasks-box {
  overflow: auto;
}

.tasks-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-box {
  width: 100%;
  height: 70px;
}

.title-box h3 {
  margin-top: 20px;
}

.order-tasks {
  background-color: rgba(84, 84, 84, 0.8);
  border-radius: 15px;
  font-size: 18px;
  padding: 20px;
  margin-bottom: -20px;
  color: white;
}

.order-tasks:hover {
  border-color: white;
}

.each-task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(255, 255, 255, 0.185);
  border: 3px double rgba(255, 255, 255, 0.185);
  border-radius: 5px;
  width: 450px;
  min-height: 70px;
}

.each-task * {
  width: 50px;
  background-color: transparent;
  color: white;
}

.each-task p {
  /* flex-grow: 1; */
  height: fit-content;
  max-width: 300px;
  min-width: 200px;
  overflow-x: auto;
}

.each-task select {
  width: fit-content;
  height: 50px;
  background-color: rgba(84, 84, 84, 0.9);
  border-radius: 5px;
}

.each-task select:hover {
  border: 1px solid white;
}

.each-task input {
  border-radius: 25px;
  min-width: 90%;
  height: 50px;
  text-align: center;
}

.each-task input::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.remove-button {
  border-radius: 25px;
  color: silver;
  font-size: 15px;
  font-weight: 400;
}

.edit-button {
  border-radius: 25px;
  color: rgb(209, 157, 14);
  margin-bottom: 5px;
}

.edit-button:hover, .remove-button:hover, .ok-button:hover {
  border: 1px solid white;
}

.edit-button:active, .remove-button:active, .ok-button:active {
  background-color: silver;
}

.logout-button {
  padding: 10px 120px;
  background-color: rgba(84, 84, 84, 0.9);
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(255, 255, 255, 0.185);
  border: 3px double rgba(255, 255, 255, 0.185);
  border-radius: 25px;
  font-family: 'Lexend Mega';
  transition: 0.5s;
  margin-bottom: 10px;
}

.logout-button:hover {
  box-shadow: 0px 0px 0.5px 0.5px white;
  border: 3px double white;
  transform: scale(1.05);
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px white;  */
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(176, 166, 240); */
  background: silver;
  width: 1px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.385);
}

::-webkit-scrollbar-button {
  border: none;
}

@media screen and (max-width: 812px) {
  .tasks-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }

  .logout-button {
    margin-top: 50px;
  }

  .boards-content {
    margin-top: 280px;
    flex-direction: column;
    align-items: center;
  }

  .board {
    width: 80vw;
    min-height: 270px;
  }

  .tasks-box {
    overflow: scroll;
  }

  .each-task {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    margin-bottom: 10px;
  }
}
